style.
  body {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333;
  }
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .equation {
    font-size: 3em;
    //- background-color: cyan;
    //- border: darkgreen 5px solid;
    padding: 10px 20px;
    z-index: 100;
  }
  
  span.sep::before,
  span.sep::after {
    //- content: "  ";
  }
  span.sep {
    
  }

i.glyphicon.glyphicon-cog.pull-right(type='button', data-toggle='modal', data-target='#myModal')

#score  

center
  .centered
    .equation
      .inner
        span#first five
        | &nbsp;&nbsp;
        span.sep &gt;
        | &nbsp;&nbsp;
        span#second 2
  
    br
    br
    //- button.btn.btn-success(type='button')#btnTrue True


// Modal
#myModal.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h2#exampleModalLabel.modal-title Settings
      .modal-body
        label(for='showTime') Show time &nbsp;
        input#showTime(type=text)
        | &nbsp;seconds
        br
        label(for='offTime') Off time &nbsp;
        input#offTime(type=text)
        | &nbsp;seconds
        br
        label(for='font_size') Text size &nbsp;
        button#dec_font -
        button#inc_font +
      .modal-footer
        button.btn.btn-primary#save_changes(type='button', data-dismiss='modal') Save changes


script.
  function randomInt(min,max) {
    return Math.floor(Math.random()*(max-min+1)+min);
  }
  
  function num2word(number) {
    var list = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve'];
    
    if ( randomInt(0,10) > 5 ){
      return list[number];
    }
    return number;
  }
  
  function num2sep(number) {
    var list = ['<', '>'];
    return list[number];
  }
  
  var intFirst = 0;
  var intSecond = 0;
  var intSep = 0;
  
  var correct = 0;
  var total = 0;
  
  var keyPressed = 0;
  var start = 1;
  
  var showTime = 3;
  var offTime = 0;
  
  $("#showTime").val(showTime);
  $("#offTime").val(offTime);
 
  function score() {
    if (keyPressed) {
      if ( intSep ) {
        if (intFirst > intSecond) {
          correct += 1;
        }
      }
      else {
        if ( intFirst < intSecond ) {
          correct += 1;
        }
      }
    }
    else {
      if ( intSep ) {
        if (intFirst < intSecond) {
          correct += 1;
        }
      }
      else {
        if ( intFirst > intSecond ) {
          correct += 1;
        }
      }
    }
    total += 1;
    keyPressed = 0;
    $('#score').text(correct + " / " + total);
  }
  
  function change() {
    score();
    
    intFirst = randomInt(0,10);
    var first = num2word(intFirst);
    
    var intSecond = intFirst;
    while (intFirst == intSecond) {
      intSecond = randomInt(0,10);
      second = num2word(intSecond);
    }
    
    intSep = randomInt(0,1);
    
    $('#first').text(first);
    $('#second').text(second);
    $('.sep').text(num2sep(intSep));

    $('.equation').show();
    setTimeout(function(){ clear() }, (showTime*1000));
  }
  
  function clear() {
    $('.equation').hide();
    setTimeout(function(){ change() }, (offTime*1000));
  }
  
  $(window).keypress(function (e) {
    if (e.keyCode === 0 || e.keyCode === 32) {
      keyPressed = 1;
    }
  }); 
  
  document.addEventListener('touchmove', function(e) {
      e.preventDefault();
      keyPressed = 1;
  }, false);
  
  // Settings
  $('#save_changes').click(function() {
    showTime = $('#showTime').val();
    offTime = $('#offTime').val();
  });
  
  $('#dec_font').click(function() {
    $('.equation').css("font-size", ($('.equation').css("font-size").replace(/\D/g,'') - 5));
  })
  $('#inc_font').click(function() {
    $('.equation').css("font-size", Number($('.equation').css("font-size").replace(/\D/g,'')) + Number(5));
  })
  
  // onload
  clear();